<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('cw.income/add')}"
               data-auth-edit="{:auth('cw.income/edit')}"
               data-auth-delete="{:auth('cw.income/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>


<script>
g_opt = {
    'client' : <?=json_encode($clients)?>,
    'account' : <?=json_encode($accounts)?>,
    'project' : <?=json_encode($projects)?>,
};
</script>
