<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label required">供应商</label>
            <div class="layui-input-block">
                <select lay-verify="" lay-filter="type" name="supplier_name" id="supplier_select">
                    <option value="">请选择</option>
                    <?php foreach($suppliers as $row){ ?>
                        <option value="<?=$row?>"<?=$row==$data['supplier_name']?' selected="selected"':''?>><?=$row?></option>
                    <?php } ?>
                </select>   
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">到期时间</label>
            <div class="layui-input-block">
                <input type="text" name="deadline" id="deadline" class="layui-input" lay-verify="required" placeholder="请输入到期时间" value="<?=$data['deadline']?>">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">应付金额</label>
            <div class="layui-input-block">
                <input type="text" name="fee" class="layui-input" lay-verify="required" placeholder="请输入应付金额" value="<?=$data['fee']?>">
            </div>
        </div>
        <div class="layui-form-item" style="height:38px;">
            <label class="layui-form-label required" _name="type">服务类型</label>
            <div class="layui-input-block">
                <select lay-verify="" lay-search lay-filter="type" id="type_select" lay-verify="required" >
                    <option value="">请输入</option>
                    <?php foreach($types as $row){ ?>
                        <option value="<?=$row?>"<?=$row==$data['type']?' selected="selected"':''?>><?=$row?></option>
                    <?php } ?>
                </select>   
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务期间</label>
            <div class="layui-input-block">
                <input type="text" name="service_time" id="service_time" class="layui-input" lay-verify="required" placeholder="请输入服务期间" value="<?=$data['service_time']?>" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required" _name="project">应付项目</label>
            <div class="layui-input-block">
                <select lay-verify="" lay-search lay-filter="type" id="project_select">
                    <option value="">请输入</option>
                    <?php foreach($projects as $row){ ?>
                        <option value="<?=$row?>"<?=$row==$data['project']?' selected="selected"':''?>><?=$row?></option>
                    <?php } ?>
                </select>  
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea" placeholder="请输入备注"><?=$data['remark']?></textarea>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>